---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SITE, SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
const shouldShowRSS = false
const shouldShowMyStuff = false
---

<script>
    import init from "wasm-game-of-life/wasm_game_of_life.js";
    
    async function initGameOfLife() {
        try {
            // @ts-expect-error: wasm is not typed
            await init("/wasm/wasm_game_of_life_bg.wasm");
            const { Universe } = await import("wasm-game-of-life/wasm_game_of_life.js");
            return Universe;
        } catch (error) {
            console.error("Failed to initialize WebAssembly module:", error);
            return null;
        }
    }

    async function startGameOfLife() {
        const Universe = await initGameOfLife();
        if (!Universe) return;

        const pre = document.getElementById("game-of-life-canvas");
        const universe = Universe.new();

        const renderLoop = () => {
            pre!.textContent = universe.render();
            universe.tick();
            requestAnimationFrame(renderLoop);
        };

        requestAnimationFrame(renderLoop);
    }

    startGameOfLife();
</script>

<Layout>
  <Header />
  <pre id="game-of-life-canvas"></pre>
  <main id="main-content">
    <section id="hero">
      <div class="flex justify-start items-end mb-6 gap-x-6">
        <h1 style="margin-bottom: 0;">
          Megalith
        </h1>
        <span>A monument to all things me, you, and all between.</span>
      </div>
      {
        shouldShowRSS && (
          <a
            target="_blank"
            href="/rss.xml"
            class="rss-link"
            aria-label="rss feed"
            title="RSS Feed"
          >
            <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon">
              <path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z" />
              <path d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z" />
              <circle cx="6" cy="18" r="2" />
            </svg>
            <span class="sr-only">RSS Feed</span>
          </a>
        )
      }

      <p>
        Hey, you're the one that I wanted to find.
        I have waited here for you, for so long.
        I've missed you. I feel like we don't know each other anymore.
      </p>
      <br/>
      <p>
        We were really close, weren't we?
      </p>
      <br/>
      <p>
        Or am I getting you mixed up... It really has been that long.
        Anyway, that's all behind us now.
      </p>
      <br/>
      <p>
        The energy lies in learning, anyway.
      </p>
      <!--<p>-->
      <!--  The energy lies in learning, anyway. -->
      <!--  So, I'm learning to be better. -->
      <!--  <span style="font-weight: bold;">For you, to you.</span> -->
      <!--</p>--
      <br/>

      <!--<p>-->
      <!--  <span style="font-weight: bold;">What's due is all praise.</span>-->
      <!--</p>-->

      <!--<p>-->
      <!--  Read the blog posts or check-->
      <!--  <LinkButton-->
      <!--    className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"-->
      <!--    href="https://github.com/satnaing/astro-paper#readme"-->
      <!--  >-->
      <!--    README-->
      <!--  </LinkButton> for more info.-->
      <!--</p>-->

      {
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">My socials:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured blogs</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < SITE.postPerIndex && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>

    {
      shouldShowMyStuff && (
        <>
          <Hr />

          <section class="sectionList">
            <h2>
              Reading notes
            </h2>
            <div>I want to just do the whole of teachyourselfcs.com</div>
            <ul>
              <li>SICP</li>

            </ul>
          </section>

          <Hr />

          <section class="sectionList">
            <h2>
              Albums
            </h2>
            <ul>
              <li>Hybrid Theory</li>
              <li>Meteora</li>
              <li>All Our Gods Have Abandoned Us</li>
              <li>Lost Forever // Lost Together</li>
              <li>Holy Hell</li>
              <li>For Those That Wish To Exist</li>
              <li>This Place Will Become Your Tomb</li>
              <li>Take Me Back To Eden</li>
            </ul>
          </section>

          <Hr />

          <section class="sectionList">
            <h2>
              Games
            </h2>
            <ul>
              <li>Halo</li>
              <li>Fallout</li>
              <li>Unreal Tournament</li>
              <li>Quake</li>
              <li>DOOM</li>
            </ul>
          </section>

          <Hr />

          <section class="sectionList">
            <h2>
              Shows, movies
            </h2>
            <ul>
              <li>Trailer Park Boys</li>
            </ul>
          </section>
        </>
      )
    }
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts,
  .sectionList {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2,
  .sectionList h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
